[Unit]
Description=DemoApp - A simple python3 aiohttp webserver demo
Documentation=https://localhost/demoapp
After=network.target

[Service]
Type=simple
User=root
ExecStart=/usr/local/demoapp/start.sh
Restart=on-failure

[Install]
WantedBy=multi-user.target
