{% extends "base.html" %}

{% block metadescr %}<meta name="description" content="This page shows some basic data from the MongoDB backend">{% endblock metadescr %}
{% block title %}Home{% endblock title %}

{% block content %}
<h1>Retrieved the following data from mongodb backend server</h1>

<table border=1>
<tr>
  <th>Name</th>
  <th>Occupation</th>
  <th>Skillset</th>
</tr>
{% for user in users %}
<tr>
  <td>{{ user.name }}</td>
  <td>{{ user.occupation }}</td>
  <td>{{ user.skillset }}</td>
</tr>
{% endfor %}
</table>

{% endblock content %}
